body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: rgb(245,245,245);
}

h1 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 24px;
  color: rgb(80,80,80);
}

h3 {
  font-size: 14px;
  font-weight: lighter;

}

#PP {
  border-radius: 50%;
  width: 20%;
}

.img-film {
  width: 100px;
  margin-right: 10px;
}

ul, li, a {
  opacity: 0.9;
  color: rgb(55,55,55);
  padding: 1%;
  text-decoration: none;
  font-size: 150%;
}

ul, li, a:hover {
text-decoration: none;
color: black;
}

.container {
  width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}

ul, li {
  display: inline;
}

p {
  font-size: 13px;
}

.table {
  font-size: 12px;
  padding: 1%;
  text-align: left;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.btn {
  background: #ffffff;
  border-radius: 28px;
  box-shadow: 2px 2px 1px #dbdbdb;
  font-family: Arial;
  color: rgb(50,50,50);
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border: solid rgb(50,50,50) 1px;
  text-decoration: none;
  margin-top: 10px;
}

